{% load static %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="{% static 'radar-chart.js' %}"></script>
	<link rel="stylesheet" href="{% static 'radar-chart.css' %}" type="text/css" media="all">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>	
    <link href="{% static 'bokeh-1.0.2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bokeh-widgets-1.0.2.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bokeh-1.0.2.min.js' %}"></script>
    <script src="{% static 'bokeh-widgets-1.0.2.min.js' %}"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="vertical-align:middle">
			<div class="col-2"></div>
			<div class="col-8" align="left-middle" vertical-align="middle">

			<form method="POST" action="/form/">
				<h1 align="center">Check Risk Score!</h1>
				<br><br>
				{% csrf_token %}
				{% form form=form %}{% endform %}
				<br>

				{% if not risk_score %}
					<input type="submit" value="Get Quote" class="btn btn-primary">
				{% else %}
					<input type="submit" value="Confirm Txn (with premium)" class="btn btn-primary">
					<input type="submit" value="Confirm Txn (without premium)" class="btn btn-primary">
					<input type="submit" value="Cancel Txn" class="btn btn-primary">					
				{% endif %}					
			</div>				
			</form>

			<div class="col-2"></div>
		</div>

		{% if not risk_score %}
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					Risk Score {{ risk_score }}
					Premium % {{ premium_rate }}
					Premium Amount (ETH) {{ premium_amount }}
				</div>
				<div class="col-2"></div>
			</div>
		{% endif %}

		<div class="row">			
			{% if risk_score %}
				<div class="col-2"></div>
				<div class="col-4 radar-container" align="left-middle" vertical-align="middle"></div>
				<div class="col-4 bar-container" align="left-middle" vertical-align="middle">
					{{div|safe}}
					{{script|safe}}
				</div>	
				<div class="col-2"></div>		
			{% endif %}								
		</div>
	</div>
</body>

	<script>
		var data = [
		  {
		    className: {{ destination_address|safe }}, // optional, can be used for styling
		    // axes: [
		    //   {axis: "strength", value: 13, yOffset: 10},
		    //   {axis: "intelligence", value: 6},
		    //   {axis: "charisma", value: 5},  
		    //   {axis: "dexterity", value: 9},  
		    //   {axis: "luck", value: 2, xOffset: -20}
		    // ]
		    axes: {{ risk_features|safe }},
		  },
		];		
		RadarChart.defaultConfig.w = 500;
		RadarChart.defaultConfig.h = 300;		
		RadarChart.draw(".radar-container", data);
	</script>

</html>