{% load static %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<html>

<head>

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="{% static 'radar-chart.js' %}"></script>
	<link rel="stylesheet" href="{% static 'radar-chart.css' %}" type="text/css" media="all">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>	
    <link href="{% static 'bokeh-1.0.2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bokeh-widgets-1.0.2.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bokeh-1.0.2.min.js' %}"></script>
    <script src="{% static 'bokeh-widgets-1.0.2.min.js' %}"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


	<script type="text/javascript" src="{% static 'vis.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'numeral.min.js' %}"></script>
	<link href="{% static 'vis.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="vertical-align:middle">
			<div class="col-2"></div>
			<div class="col-8" align="left-middle" vertical-align="middle">

			<form method="POST" action="/form/">
				<br><br>
				{% csrf_token %}
				{% form form=form %}{% endform %}
				<br>

				{% if not risk_score %}
					<input type="submit" value="Get Quote For SAFU" class="btn btn-primary btn-lg">
				{% endif %}					
			</div>				
			</form>

			<div class="col-2"></div>
		</div>



		<div class="container">
			{% if risk_score %}						
			<div class="row" style="height:400px">
				<div class="col-12" style="text-align:center">
                    <h3>Source <-> Destination Historical Relations</h3>
					<div id="address_graph"></div>
				</div>
			</div>
			{% endif %}							
		</div>

		<div class="row">			
			{% if risk_score %}
				<div class="col-2"></div>
				<div class="col-4" align="left-middle" vertical-align="middle">
                    <h3>Destination Address Features</h3>
                    <div class="radar-container"></div>
                </div>
				<div class="col-4 bar-container" align="left-middle" vertical-align="middle">
					<h3>Premium Percentage From Risk Score</h3>
					{{div|safe}}
					{{script|safe}}
				</div>	
				<div class="col-2"></div>		
			{% endif %}								
		</div>
	</div>


	<div class="row" style="margin-top: 50px;">
		{% if risk_score %}



		<div class="col-2"></div>
		<div class="col-8" style="text-align:center">

			<div class="well well-lg">

			<table>
				<tr>
					<td style="text-align:center"><h1>Risk Score</h1></td>
					<td style="text-align:center"><h1>Insurance Premium</h1></td>
					<td style="text-align:center"><h1>Premium Amount</h1></td>
				</tr>

				<tr>
					<td style="text-align:center"><h2>{{ risk_score }}</h2></td>
					<td style="text-align:center"><h2>{{ premium_rate }}%</h2></td>
					<td style="text-align:center"><h2>{{ premium }} ETH</h2></td>
				</tr>

				<tr>
					{% if risk_score < 20 %}
					<td style="background-color: #00ff26; color: white; font-weight: bold; font-size: 20px; text-align:center; padding: 20px;">
						SAFU
						<span class="glyphicon glyphicon-thumbs-up" style="color: #00ff26;font-size: 20px; color: white;"></span>
					</td>

					{% elif risk_score < 60 %}
					<td style="background-color: #ff8000; color: white; font-weight: bold; font-size: 20px; text-align:center; padding: 20px;">
						BE CAREFULL
						<span class="glyphicon glyphicon-warning-sign" style="color: #ff8000;font-size: 20px; color: white;"></span>
					</td>

					{% else %}
					<td style="background-color: #ff0100; color: white; font-weight: bold; font-size: 20px; text-align:center; padding: 20px;">
						NOT SAFU
						<span class="glyphicon glyphicon-exclamation-sign" style="color: #ff0100;font-size: 20px; color: white;"></span>
					</td>
					{% endif %}
				</tr>

			</table>

			</div>
		</div>
		<div class="col-2"></div>
		{% endif %}
	</div>

	{% if risk_score %}
	<div class="container" style="height: 300px;">
		<h1>Select one of the options:</h1>
		<div class="row">



			<div class="col-4">
				<input type="submit" value="SAFU Insured Transaction (with {{ premium }} ETH premium)" class="btn btn-success btn-lg">
			</div>

			<div class="col-4" align="center">
				<input type="submit" value="Regular Txn (without premium)" class="btn btn-warning btn-lg">
			</div>

			<div class="col-4" align="right">
				<input type="submit" value="Cancel Txn" class="btn btn-dark btn-lg">
			</div>

		</div>	
	</div>
	{% endif %}

</body>

	<script>
		var data = [
		  {
		    className: {{ destination_address|safe }}, // optional, can be used for styling
		    // axes: [
		    //   {axis: "strength", value: 13, yOffset: 10},
		    //   {axis: "intelligence", value: 6},
		    //   {axis: "charisma", value: 5},  
		    //   {axis: "dexterity", value: 9},  
		    //   {axis: "luck", value: 2, xOffset: -20}
		    // ]
		    axes: {{ risk_features|safe }},
		  },
		];		
		RadarChart.defaultConfig.w = 500;
		RadarChart.defaultConfig.h = 300;		
		RadarChart.draw(".radar-container", data);
	</script>

	<script src="{% static 'graph.js' %}"></script>
	<script type="text/javascript">
		drawGraph("{{ destination_address }}");
	</script>
</html>